{% comment %}
Ported from https://github.com/badges/shields/blob/66c7f13e38c76bfdbdb96107bc92e607b3dd5acc/gh-badges/templates/plastic-template.svg
{% endcomment %}
<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" width="{{ it.ImageWidth }}" height="18">
  <linearGradient id="smooth" x2="0" y2="100%">
    <stop offset="0"  stop-color="#fff" stop-opacity=".7"/>
    <stop offset=".1" stop-color="#aaa" stop-opacity=".1"/>
    <stop offset=".9" stop-color="#000" stop-opacity=".3"/>
    <stop offset="1"  stop-color="#000" stop-opacity=".5"/>
  </linearGradient>
  
  <clipPath id="round">
    <rect width="{{ it.Widths[0] | plus: it.Widths[1] }}" height="18" rx="4" fill="#fff"/>
  </clipPath>
  
  <g clip-path="url(#round)">
    <rect width="{{ it.Widths[0] }}" height="18" fill="{{ it.Fill[0] }}"/>
    <rect x="{{ it.Widths[0] }}" width="{{ it.Widths[1] }}" height="18" fill="{{ it.Fill[1] }}"/>
    <rect width="{{ it.Widths[0] | plus: it.Widths[1] }}" height="18" fill="url(#smooth)"/>
  </g>
  
  <g fill="#fff" text-anchor="middle" font-family="DejaVu Sans,Verdana,Geneva,sans-serif" font-size="110">
    {% if it.Logo %}
      <image x="5" y="3" width="{{ it.LogoWidth }}" height="14" xlink:href="{{ it.Logo}}"/>
    {% endif %}
    {% if it.Text[0] %}      
      <text x="{{ it.TextPosition[0].X }}" y="140" fill="#010101" fill-opacity=".3" transform="scale(0.1)" textLength="{{ it.TextWidth[0] }}" lengthAdjust="spacing">{{ it.Text[0] }}</text>
      <text x="{{ it.TextPosition[0].X }}" y="130" transform="scale(0.1)" textLength="{{ it.TextWidth[0] }}" lengthAdjust="spacing">{{ it.Text[0] }}</text>
    {% endif %}

    <text x="{{ it.TextPosition[1].X }}" y="140" fill="#010101" fill-opacity=".3" transform="scale(0.1)" textLength="{{ it.TextWidth[1] }}" lengthAdjust="spacing">{{ it.Text[1] }}</text>
    <text x="{{ it.TextPosition[1].X }}" y="130" transform="scale(0.1)" textLength="{{ it.TextWidth[1] }}" lengthAdjust="spacing">{{ it.Text[1] }}</text>
  </g>
  
  {% if it.Links[0] %}
    <a target="_blank" xlink:href="{{ it.Links[0] }}">
      <rect width="{{ it.Widths[0] }}" height="18" fill="rgba(0,0,0,0)"/>
    </a>
  {% endif %}
  {% if it.Links[1] %}        
    <a target="_blank" xlink:href="{{ it.Links[1] }}">
      <rect x="{{ it.Widths[0] }}" width="{{ it.Widths[1] }}" height="18" fill="rgba(0,0,0,0)"/>
    </a>
  {% endif %}
</svg>
  